<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<h2>Connectez-vous</h2>

		<form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
			<div class="form-group">
				<label for="emailX">Adresse mail</label>
				<input type="text" id="emailX" class="form-control" formControlName="email">
			</div>
			<div class="form-group">
				<label for="passwordX"> Votre mot de passe </label>
				<input type="password" id="passwordX" class="form-control" formControlName="password">
			</div>

			<button type="submit" class="btn btn-primary" [disabled]="signInForm.invalid">Connexion</button>
			
		</form>
		<p class="text-danger">{{ errorMessage }}</p>
	</div>
</div>
